* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*fonte*/
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  height: 100%;
  width: 83.3%;
}
.container {
  display: flex;
  height: 93%;
  width: 100%;
}

/*header*/
header {
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburguer {
  font-size: 25px;
}

/*header-divs*/
.esquerda {
  height: 100%;
  width: 40.3%;
  display: flex;
  align-items: center;

  gap: 20px;
  margin-left: 15px;
}
.meio {
  height: 100%;
  width: 50.3%;
  display: flex;
  align-items: center;
}
.direita {
  height: 100%;
  width: 33.3%;
  display: flex;
  align-items: center;

  justify-content: end;
  font-size: 20px;
  gap: 20px;
  margin-right: 15px;
}

.direita button, .login button{
  background-color: white;
  border: 1px solid gray;
  border-radius: 30px;
  height: 40px;
  width: 120px;
  color: blue;
}
header img {
  height: 45px;
}
header input {
  height: 35px;
  width: 380px;
  border: 1px solid grey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
header input:active {
  border: 1px solid blue;
}
.search {
  height: 35px;
  width: 55px;
  border: 1px solid grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: rgb(255, 239, 225);
}
.microfone {
  height: 40px;
  width: 40px;
  border-radius: 50%;
 background-color: rgb(255, 239, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.microfone:hover{
  background-color: rgba(255, 207, 164, 0.527);
}

/*aside*/
aside {
  height: 100%;
  width: 16%;
  
  display: flex;
  flex-direction: column;
  overflow: auto;
 
}
.menu {
  height: 36%;
  width: 100%;
  padding: 15px;

}
aside a {
  height: 35px;
  width: 200px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

.item {
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}
.item:hover {
  background-color: rgb(252, 241, 229);
}
aside i {
  width: 25px;
  font-size: 25px;
}
aside h3,
i {
  color: black;
}
aside h3 {
  width: calc(100% - 25px);
}
.login{
  height: 21%;
  width: 100%;
  display: flex;
  flex-direction: column;
 border-top: 1px solid black;
 

}
.Plog{
  margin-top: 12px;
  height: 50%;
  width: 65%;
   margin-left: 40px;
}
.Plog button{
  font-size: 15px;
}
.explorar{
 height: 33%;
  width: 100%;
  padding: 15px;

  border-top: 1px solid black;
}
.mais{
  width: 100%;
  padding: 15px;
  border-top: 1px solid black;
}
.mais img{
  height:20px;

}
.denuncia{
  width: 100%;
  border-top: 1px solid black;
  border: 1px solid red;
}
.sobre{
   width: 100%;
  border-top: 1px solid black;
  border: 1px solid red;
}
.para{
   margin-top: 12px;
  height: 50%;
  width: 65%;
   margin-left: 40px;
  font-size: 15px;
}

/*nav*/
nav {
  height: 10%;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 12px;
}
nav button {
  height: 55%;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(255, 243, 232);
}

/*section*/
section {
  height: 90%;
  width: 100%;
  margin-left: 10px ;
  display: flex;
   overflow: auto;
   flex-wrap: wrap;
}
article{
  border-radius: 20px;
  width: 33% ;
  height: 350px;
   border: 1px solid red;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 10px;
}
article:hover{
  transition: all 0.5s linear;
  background-color: rgba(0, 0, 139, 0.24);
}
article iframe, article video{
  height: 66%;
  width: 95%;
  border-radius: 13px;
}
article img{
  height: 50px;
  border-radius: 50%;
}
.descricao{
  display: flex;
  height: 32.5%;
   border: 1px solid red;
}
